{{#>layout}}
<h1>{{forum.title}}</h1>
<em>
  {{forum.description}}
</em>
{{#if createTopicAccess}}
<div>
  <a href="/forum/{{forum.key}}/create">Create topic</a>
</div>
{{/if}}
<ul>
  {{#each forum.topics}}
  <li>
    <div>
      <a href="/forum/{{../forum.key}}/{{this.id}}">
        <strong>
          {{this.title}}
        </strong>
      </a>
    </div>
    <div>
      <em>
        {{this.description}}
      </em>
    </div>
  </li>
  {{/each}}
</ul>
{{>pagination pagination=pagination}}
{{/layout}}