{{#>layout}}
<h1>{{topic.title}}</h1>
<div>
  <em>{{topic.description}}</em>
</div>
{{#if editTopicUrl}}
<div>
  <a href="/forum/{{editTopicUrl}}">Edit topic</a>
  |
  <a href="/forum/{{deleteTopicUrl}}">Delete topic</a>
</div>
{{/if}}
<ul>
  {{#each messages}}
  <li>
    {{this.text}}
    <div>
      <small>
        Author:
        {{#if this.author}}
        {{this.author.username}}
        {{else if this.authorName}}
        {{this.authorName}}
        {{else}}
        Guest
        {{/if}}
        | {{this.createdAt}}
        {{#if this.editUrl}}
        | <a href="/forum/{{this.editUrl}}">Edit</a>
        {{/if}}
        {{#if this.deleteUrl}}
        | <a href="/forum/{{this.deleteUrl}}">Delete</a>
        {{/if}}
      </small>
      <hr>
    </div>
  </li>
  {{/each}}
</ul>
{{>forumMessageForm formConfig=forumMessageForm}}
{{/layout}}