<aside class="sidebar">
  <a href="/" class="logo">
    Факел
  </a>
  <button id="mobileToggle" class="button sidebar__mobile-toggle">
    <i class="fas fa-ellipsis-h sidebar__mobile-icon"></i>
  </button>
  {{#if user}}
    <a href="/profile" class="sidebar-profile">
      <div class="sidebar-profile__avatar">
        {{#if user.details.avatarUrl}}
          <img src="{{user.details.avatarUrl}}" alt="{{user.username}}" class="sidebar-profile__avatar-img">
        {{else}}
        <i class="fas fa-user sidebar-profile__no-avatar"></i>
        {{/if}}
      </div>
      <div class="sidebar-profile__text">
        {{user.username}}
      </div>
    </a>
  {{/if}}
  <nav class="sidebar-nav">
    <ul class="sidebar-nav__list">
      {{#if user}}
        <li class="sidebar-nav__item">
          <a href="/auth/logout" class="sidebar-nav__link">
            Выход
          </a>
        </li>
      {{else}}
        <li class="sidebar-nav__item">
          <a href="/auth/registration" class="sidebar-nav__link">
            Регистрация
          </a>
        </li>
        <li class="sidebar-nav__item">
          <a href="/auth/login" class="sidebar-nav__link">
            Вход
          </a>
        </li>
      {{/if}}
      <li class="sidebar-nav__item">
        <a href="/" class="sidebar-nav__link">
          Блог
        </a>
      </li>
      <li class="sidebar-nav__item">
        <a href="/forum" class="sidebar-nav__link">
          Форум
        </a>
      </li>
      <li class="sidebar-nav__item">
        <a href="/rules.html" class="sidebar-nav__link">
          Правила
        </a>
      </li>
      <li class="sidebar-nav__item">
        <a href="/about.html" class="sidebar-nav__link">
          О "Факеле"
        </a>
      </li>
    </ul>
  </nav>
</aside>