{{#>layout}}
  {{>userHeader profile=userProfile}}
  <ul class="user-meta mb-md">
    <li class="user-meta__item mr-lg">
      <div class="user-meta__badge">
        {{userProfile.role}}
      </div>
    </li>
    {{#if userProfile.privacySettings.showEmail}}
      <li class="user-meta__item mr-lg">
        <i class="fas fa-envelope"></i>
        Email: <a href="mailto:{{userProfile.email}}">{{userProfile.email}}</a>
      </li>
    {{/if}}
    {{#if userProfile.privacySettings.showBirthdate}}
      {{#if userProfile.details.birthdate}}
        <li class="user-meta__item">
          <i class="fas fa-birthday-cake"></i>
          День рождения:
          {{moment date=userProfile.details.birthdate format="DD.MM.YYYY HH:mm"}}
        </li>
      {{/if}}
    {{/if}}
  </ul>
  {{#if userProfile.details.about}}
    <div class="user-about mb-md">
      {{{userProfile.details.about}}}
    </div>
  {{/if}}
  <h2 class="mb-md mt-lg">Статистика:</h2>
  <ul class="user-statistics">
    <li class="user-statistics__item">
      <a href="/user/{{userProfile._id}}/blog" class="user-statistics__link button button-flat">
        <i class="fas fa-pen-nib"></i>
        Заметок в блоге: {{articlesCount}}
      </a>
    </li>
    <li class="user-statistics__item">
      <a href="/user/{{userProfile._id}}/forum" class="user-statistics__link button button-flat">
        <i class="fas fa-sticky-note"></i>
        Тем на форуме: {{topicsCount}}
      </a>
    </li>
  </ul>
{{/layout}}