{{#>layout}}
  <h1 class="mb-lg">
    Редактирование профиля
  </h1>
  <form action="/profile/edit" method="POST">
    <table class="profile-table">
      <tbody>
        <tr>
          <td>
            URL Аватара:
          </td>
          <td>
            <input type="url" name="avatarUrl" id="avatarUrl" value="{{user.avatarUrl}}">
          </td>
        </tr>
        <tr>
          <td>Username:</td>
          <td>
            <input type="text" name="username" value="{{user.username}}">
          </td>
        </tr>
        <tr>
          <td>Email:</td>
          <td>
            <input type="email" name="email" id="email" value="{{user.email}}">
          </td>
        </tr>
        <tr>
          <td>Статус:</td>
          <td>
            <input type="text" name="status" value="{{user.status}}">
          </td>
        </tr>
        <tr>
          <td>Дата рождения:</td>
          <td>
            <input type="date" name="birthdate" id="birthdate" value="{{user.birthdate}}">
          </td>
        </tr>
        <tr>
          <td>Подпись для форума:</td>
          <td>
            <textarea name="forumSignature" id="forumSignature" cols="30" rows="10">{{user.forumSignature}}</textarea>
          </td>
        </tr>
        <tr>
          <td>О себе:</td>
          <td>
            <textarea name="bio" id="bio" cols="30" rows="10">{{user.bio}}</textarea>
          </td>
        </tr>
      </tbody>
    </table>
    <button>
      <i class="fas fa-check"></i>
      Обновить
    </button>
    <a href="javascript:history.back()" class="button">
      <i class="fas fa-angle-double-left"></i>
      Назад
    </a>
  </form>
{{/layout}}