{{#>layout}}
  <h1 class="mb-lg">
    Редактирование профиля
  </h1>
  <form action="/profile/edit" method="POST">
    <div class="full-width-p0 mb-md">
      <table class="profile-table">
        <tbody>
          <tr>
            <td>
              URL Аватара:
            </td>
            <td>
              <input type="url" name="details[avatarUrl]" id="avatarUrl" value="{{user.details.avatarUrl}}">
            </td>
          </tr>
          <tr>
            <td>Username:</td>
            <td>
              <input type="text" name="username" value="{{user.username}}">
            </td>
          </tr>
          <tr>
            <td>Email:</td>
            <td>
              <input type="email" name="email" id="email" value="{{user.email}}">
            </td>
          </tr>
          <tr>
            <td>Статус:</td>
            <td>
              <input type="text" name="details[status]" value="{{user.details.status}}">
            </td>
          </tr>
          <tr>
            <td>Дата рождения:</td>
            <td>
              <input type="date" name="details[birthdate]" id="birthdate" value="{{moment date=user.birthdate format="YYYY-MM-DD"}}">
            </td>
          </tr>
          <tr>
            <td>Подпись для форума:</td>
            <td>
              <textarea name="details[forumSignature]" id="forumSignature" cols="30" rows="10">{{user.details.forumSignature}}</textarea>
            </td>
          </tr>
          <tr>
            <td>О себе:</td>
            <td>
              <div data-form-field="text" class="quill-editor">
                {{{user.details.about}}}
              </div>
              <textarea name="details[about]" id="about" cols="30" rows="10">{{user.details.about}}</textarea>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="mb-sm">
      <input type="checkbox" name="privacySettings[showBirthdate]" id="showBirthdate" {{#if user.privacySettings.showBirthdate}} checked{{/if}}>
      <label for="showBirthdate">Отображать день рождения</label>
    </div>
    <div class="mb-md">
      <input type="checkbox" name="privacySettings[showEmail]" id="showEmail" {{#if user.privacySettings.showEmail}} checked{{/if}}>
      <label for="showEmail">Отображать email</label>
    </div>
    <button>
      <i class="fas fa-check"></i>
      Обновить
    </button>
    <a href="javascript:history.back()" class="button">
      <i class="fas fa-angle-double-left"></i>
      Назад
    </a>
  </form>
{{/layout}}