{{#>layout}}
  <div class="article">
    <h1 class="article__title mb-md">{{article.title}}</h1>
    <ul class="article-meta mb-lg">
      <li class="article-meta__item mr-md">
        <a href="/user/{{article.author.id}}" class="article-meta__link link-grey">
          <i class="fas fa-user article-meta__icon"></i>
          {{article.author.username}}
        </a>
      </li>
      <li class="article-meta__item">
        <i class="fas fa-calendar-day article-meta__icon"></i>
        {{article.createdAt}}
      </li>
    </ul>
    <div class="article__text mb-lg">
      {{{article.text}}}
    </div>
  </div>
  <a href="/user/{{article.author.id}}" class="author mb-lg">
    {{#if article.author.avatarUrl}}
      <div class="author__avatar">
        <img src="{{article.author.avatarUrl}}" alt="{{article.author.username}}" class="author__avatar-img">
      </div>
    {{/if}}
    <div class="author__description">
      <div class="author__name">
        Автор: {{article.author.username}}
      </div>
      {{#if article.author.status}}
        <div class="author__status">
          {{article.author.status}}
        </div>
      {{/if}}
    </div>
  </a>
  <div class="grey-block mb-lg">
    {{#if access.edit}}
      <a href="/blog/{{article.id}}/edit" class="button button-flat button-grey">
        <i class="fas fa-pencil-alt"></i>
        Редактировать
      </a>
    {{/if}}
    {{#if access.delete}}
      <a href="/blog/{{article.id}}/delete" class="button button-flat button-grey">
        <i class="far fa-trash-alt"></i>
        Удалить
      </a>
    {{/if}}
  </div>
  {{#if editComment}}
    {{>commentForm commentForm=commentForm}}
  {{else}}
    {{>commentsList
      comments=article.comments
      editUrl=commentsEditUrl
      deleteUrl=commentsDeleteUrl
    }}
    {{#if access.comments}}
      {{>commentForm commentForm=commentForm}}
    {{/if}}
  {{/if}}
{{/layout}}