{{#>layout}}
  {{>breadcrumbs breadcrumbs=breadcrumbs}}
  <ul class="articles-list mb-lg">
    {{#each articles}}
    <li class="articles-list__item mb-sm">
      <h2 class="articles-list__title mb-md">
        <a href="/blog/{{this.id}}" class="articles-list__title-link">
          {{this.title}}
        </a>
      </h2>
      <ul class="article-meta mb-lg">
        <li class="article-meta__item mr-md">
          {{#if this.author}}
            <a href="/user/{{this.author.id}}" class="article-meta__link link-grey">
              <i class="fas fa-user article-meta__icon"></i>
              {{this.author.username}}
            </a>
          {{else}}
            <i class="fas fa-user article-meta__icon"></i>
            (пользователь удален)
          {{/if}}
        </li>
        <li class="article-meta__item">
          <i class="fas fa-calendar-day article-meta__icon"></i>
          {{moment date=this.createdAt format="DD.MM.YYYY HH:mm"}}
        </li>
      </ul>
      <article>
        {{{this.text}}}
      </article>
    </li>
    {{/each}}
  </ul>
  {{#if addArticleAccess}}
    <div class="text-center mb-lg">
      <a href="/blog/create" class="button button-flat">
        <i class="fas fa-plus-circle"></i>
        Добавить статью
      </a>
    </div>
  {{/if}}
  {{>pagination pagination=pagination}}
{{/layout}}