{{#>layout}}
<a href="/blog/create">Add article</a>
<ul>
  {{#each articles}}
  <li>
    <h2>
      <a href="/blog/{{this.id}}">
        {{this.title}}
      </a>
    </h2>
    <div>
      <small>
        {{this.createdAtStr}}
      </small>
    </div>
    <div>
      <em>
        {{this.text}}
      </em>
    </div>
    <div>
      <strong>{{this.author.username}}</strong>
    </div>
  </li>
  {{/each}}
</ul>
{{/layout}}