<ul>
  {{#each comments}}
    <li>
      <div>
        {{#if this.author}}
          {{this.author.username}}
        {{else if this.authorName}}
          {{this.authorName}}
        {{else}}
          Guest
        {{/if}}
      </div>
      <div>
        {{this.text}}
      </div>
    </li>
  {{/each}}
</ul>