<ul>
  {{#each comments}}
  <li>
    <div>
      {{#if this.author}}
        {{this.author.username}}
      {{else if this.authorName}}
        {{this.authorName}}
      {{else}}
        Guest
      {{/if}}
    </div>
    <div>
      {{this.createdAt}}
    </div>
    <div>
      {{this.text}}
    </div>
    {{#if this.access.edit}}
      <a href="{{../editUrl}}/{{this.id}}/edit">Edit</a>
    {{/if}}
    {{#if this.access.delete}}
      <a href="{{../deleteUrl}}/{{this.id}}/delete">Delete</a>
    {{/if}}
  </li>
  {{/each}}
</ul>